<div tabindex="0" class="a2-select-bootstrap dropdown open">

  <input type="text" tabindex="1" autocomplete="off"
    class="form-control a2-select-input"
    [required]="isRequired"
    [disabled]="disabled"
    [value]="(selectedItem && selectedItem.displayText)||''"
    [class.ng-invalid]="isRequired && !inputEl.value"
    [class.ng-valid]="isRequired && inputEl.value"
    (focusin)="processFocusIn($event)"
    (click)="processFocusIn($event)"
    (keyup)="processKeyup($event)"
    (keydown)="processKeydown($event)"
    placeholder="{{inputEl.value.length ? '' : placeholder}}" #inputEl/>

  <ul *ngIf="itemsOpened"
    class="a2-select-items a2-select-items-content dropdown-menu">

    <li>
      <div *ngFor="let item of filteredItems | slice:0:10"
        class="a2-select-items-row"
        [class.activeItem]="isActiveItem(item)"
        (mouseenter)="setActiveItem(item)"
        (click)="setSelectedItem($event, item)">

        <a href="javascript:void(0)" class="dropdown-item">
          <div [innerHtml]="item.displayText | a2Highlight:searchTerm"></div>
        </a>
      </div>
    </li>
  </ul>

</div>
